.timer {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background: lightgray;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 40px;
}
.value {
  font-size: 30px;
}
